* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: black
}

header {
  color: crimson;
  display: flex;
  font-size: 2rem;
  padding: 20px;
  text-decoration: underline;
}

h2 {
  color: rgb(134, 22, 22);
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

p {
  color: rgb(175, 167, 167);
  text-align: center;
}

footer {
  display: flex;
  padding: 50px;
}

footer p {
  color: crimson;
}

.gallery {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 200px;
  height: 200px;
  display: flex;
}