* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: black
}

header {
  color: crimson;
  display: flex;
  font-size: 2rem;
  padding: 20px;
  text-decoration: underline;
}

.gallery {
  width: 80vw;
  white-space: nowrap; 
  overflow-x: scroll; 
  overflow-y: hidden;  
  display: flex;
  padding-bottom: 30px;
  margin-top: 4rem;
  border: solid 1px crimson;
}

.horned-beast {
    width: 300px;  
    padding: 10px; 
    margin: 10px; 
}

.horned-beast-description {
  word-wrap: break-word;
  overflow-wrap: normal;
}

h2 {
  color: rgb(134, 22, 22);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

p {
  color: rgb(175, 167, 167);
  text-align: center;
  margin-top: 1rem
}

footer {
  display: flex;
  padding: 50px;
}

footer p {
  color: crimson;
}

img {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 100%;
}

label[for="filterByHorns"] {
  margin-left: 5rem;
  color: rgb(175, 167, 167);
}
#filterByHorns {
  color: white;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: crimson;
}

form {
  margin-top: 2rem;
}